#map {
  display: block;
  width: 100%;
  height: 70%;
  min-height: 200px;
  max-height: 800px;
}

.release {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  padding: 0 10px;
  font-size: 90%;
}
